* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #373f51;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-basis: 1; */
    text-align: center;
    justify-content: center;
    align-items: center;
}

.box1 {
    margin: 4vw;
    width: 21vw;
    height: 35vh;
    min-width: 250px;
    background-color: aqua;
    border: 3px solid #008dd5;
}

img {
    width: 50%;
    object-fit: cover;
    margin-top: 20%;
}

.box2 {
    margin: 4vw;
    width: 21vw;
    height: 35vh;
    min-width: 250px;
    background-color: aqua;
    border: 3px solid #008dd5;
}

.box3 {
    margin: 4vw;
    width: 21vw;
    height: 35vh;
    min-width: 250px;
    background-color: aqua;
    border: 3px solid #008dd5;
}

.box1,
.box2,
.box3 {
    border-radius: 90% 50% 40% 20%;
    background-color: #008dd5;
}

.box1s {
    width: 22vw;
    min-width: 250px;
    height: 40vh;
    margin: 4vw;
    border: 3px solid #008dd5;
}